*, * ::before, * ::after {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.heading {
    background-color: cornflowerblue;
    font-size: clamp(4rem, 5vw, 6rem);
    padding: clamp(1rem, 3vw, 3rem) 0;
    animation-name: theTitle;
    animation-duration: 1s;
}

@keyframes theTitle {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

#theTurn {
    font-size: 3rem;
    animation-name: theTurn;
    animation-duration: 2s;
}

@keyframes theTurn {
    0% {
        transform: translateX(-600%);
    }
    100% {
        transform: translateX(0);
    }
}

img {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 3%;
}

.myTable {
    width: min(480px, 80%);
    margin: auto;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    animation-name: myTableAnimation;
    animation-duration: 1s;
}

.tableSquare {
    width: 100%;
    padding-bottom: 97%;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 3%;
}

@keyframes myTableAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#theRestart {
    font-size: clamp(2rem, 5vw, 5rem);
    border: 1px solid black;
    margin: 3rem 0 0 0;
    padding: 10px 10px;
    display: inline-block;
    animation-name: theRestart;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}

.theRestart:hover {
    transform: rotateY(180deg);
}

@keyframes theRestart {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#winner {
    background-color: cornflowerblue;
    position: absolute;
    width: 100%;
    font-size: 4.5rem;
    transform: translateY(-40vh);
}